#
# GIT Ignore
#
# * Template version: 1.2.1
#

# VScode
/.vscode

# Code build
/build/*

# Dev-time tools
/lib/*

# Dev-time temporary files
/tmp/*

# Secrets
/.secrets

# Local variables
/.local

#
# Project specific exclusions
#

# Keep placeholder for empty directories
!/**/.gitkeep
