#
# GIT Ignore
#
# * Template version: 2.0.0
#

#
# Main
#

/build/*
/lib/*
/logs/*
/tmp/*
/vault/*

/.local.env
/.secrets.env

#
# Project specific exclusions
#

/.vscode

# Keep placeholder for empty directories
!/**/.gitkeep
