---
name: "Deliver / Container / Ansible Test"

concurrency:
  group: "deliver-docker-ansible-test"
  cancel-in-progress: true

env:
  DEV_CICD_DEBUG: "NONE"
  BL64_LIB_CICD: "YES"

on:
  workflow_dispatch:
  workflow_call:

jobs:
  deliver-docker-ansible-test:
    runs-on: "ubuntu-latest"
    permissions: "write-all"

    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      DEV_AUTH_CONTAINER_USER: "${{ secrets.DEV_AUTH_CONTAINER_USER }}"
      DEV_AUTH_COSIGN_USER: "${{ secrets.DEV_AUTH_COSIGN_USER }}"

    strategy:
      matrix:
        scope:
          - "ANSIBLE_L0_REDHAT"
          - "ANSIBLE_L0_FEDORA"
          - "ANSIBLE_L0_DEBIAN"
          - "ANSIBLE_L0_UBUNTU"

    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v4"
        with:
          path: ./lib
          key: ${{ runner.os }}-lib-cache
          restore-keys: |
            ${{ runner.os }}-lib-cache

      - name: "Prepare environment"
        run: "./bin/dev-lib-base"

      - name: "Prepare docker tool"
        run: "./bin/dev-auth-container"

      - name: "Prepare cosign tool"
        run: "./bin/dev-lib-cosign && ./bin/dev-auth-cosign"

      - name: "Build and publish container images"
        run: "./bin/dev-build-project ${{ matrix.scope }} ON"
...
