---
# template: 1.4.0
name: "Lint / Hadolint"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  DEV_CICD_DEBUG: "NONE"
  BL64_LIB_CICD: "YES"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "feature/**"
    paths:
      - "src/dockerfiles/*/*"

jobs:
  lint-hadolint:
    runs-on: "ubuntu-latest"
    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v4"
        with:
          path: ./lib
          key: ${{ runner.os }}-lib-cache
          restore-keys: |
            ${{ runner.os }}-lib-cache

      - name: "Prepare environment"
        run: "./bin/dev-lib-base"

      - name: "Download tools"
        run: "./bin/dev-lib-hadolint"

      - name: "Run tests"
        run: "./bin/dev-lint-hadolint"
...
