---
# template: 1.2.0
name: "SAST / GitLeaks"

env:
  DEV_CICD_DEBUG: ""
  BL64_LIB_CICD: "YES"
  DEV_TEST_BASH_RUNNER_ENVIRONMENT: "ON"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "feature/**"

jobs:
  sast-GitLeaks:
    runs-on: "ubuntu-latest"
    steps:

      - name: "Check out repository code"
        uses: "actions/checkout@main"

      - name: "Cache local tools"
        uses: "actions/cache@v4"
        with:
          path: ./lib
          key: ${{ runner.os }}-lib-cache
          restore-keys: |
            ${{ runner.os }}-lib-cache

      - name: "Prepare environment"
        run: "./bin/dev-lib-base"

      - name: "Download tools"
        run: "./bin/dev-lib-gitleaks"

      - name: "Run SAST"
        run: "./bin/dev-sast-gitleaks"
...
